.bc-combatant-list {
    padding-bottom: 1px;
}

ul.bc-pc-list>li {
    margin: 5px 5px;
    padding: 2px;
    outline: 1px solid lightgrey;
}

ul.bc-combatant-list>li {
    margin: 5px 5px;
    padding: 2px;
    outline: 1px solid lightgrey;
}

/* .bc-section[bc-section="combatants"] {
    float:left;
    margin: 25px 25px;
    min-width: max-content;
    min-height: 300px;
    width: 350px;
} */

/* .bc-section[bc-section="combat-turn"] {
    float:left;
    margin: 25px 25px;
    min-width: max-content;
    min-height: 300px;
    width: 350px;
} */

/* .bc-section[bc-section="combat-selected"] {
    float:left;
    margin: 25px 25px;
    min-width: max-content;
    min-height: 300px;
    width: 350px;
} */

.bc-pc-main-wrapper,
.bc-combatant-main-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 54px 60px 1fr;
    grid-template-rows: repeat(3, 16px);
    gap: 0px 0px;
    line-height: 16px;
}

.bc-pc-main-row,
.bc-combatant-main-row {
    grid-row: auto;
    grid-column: 3;
    /* line-height: 20px; */
}

.bc-pc-stat-wrapper,
.bc-pc-skill-wrapper,
.bc-combatant-stat-wrapper,
.bc-combatant-skill-wrapper {
    display: grid;
    width: max-content;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 5px 16px;
    line-height: 16px;
    margin-top: 5px;
}

div.bc-pc-avatar,
div.bc-combatant-avatar {
    grid-column: 2;
    grid-row: 1 / span 4;
    width: 48px;
    height: 48px;
    display: block;
    align-items: center;
    overflow: hidden;
    box-sizing: inherit;
    outline: 1;
}

div.bc-pc-avatar {
    border-radius: 50%;
}

div.bc-combatant-avatar {
    border-radius: 8px;
}

img.bc-pc-avatar,
img.bc-combatant-avatar {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

img.bc-pc-avatar:hover,
img.bc-combatant-avatar:hover {
    filter: grayscale(100%);
    filter: brightness(50%);
}

.bc-pc-initiative-label,
.bc-combatant-initiative-label {
    grid-column: 1;
    grid-row: 1;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-right: 2px;
}

.bc-pc-initiative,
.bc-combatant-initiative {
    grid-column: 1;
    grid-row: 2 / span 2;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin: 3px 11px 3px 9px;
    width: 34px;
    outline: 1px solid rgb(168, 168, 168);
}

.bc-pc-main-wrapper[current-turn] > .bc-pc-initiative-label,
.bc-combatant-main-wrapper[current-turn] > .bc-combatant-initiative-label {
}

.bc-pc-main-wrapper[current-turn] > .bc-pc-initiative,
.bc-combatant-main-wrapper[current-turn] > .bc-combatant-initiative {
    outline: none;
    border: none;
    background-color: #007cff;
}

.bc-pc-main-wrapper[current-turn] > .bc-pc-turn,
.bc-combatant-main-wrapper[current-turn] > .bc-combatant-turn
{
    display: inline;
	grid-column: 1;
	grid-row: 1 / span 3;
	background: #007cff;    
	color: white;
	border-radius: 3px;
	margin-right: 2px;
}

.bc-pc-turn,
.bc-combatant-turn {
    display: none;
}

.bc-pc-hp,
.bc-combatant-hp {
    font-size: 16px;
    color: #000000;
    list-style-type: none;
    float: right;
    display: flex;
}

.bc-pc-hp-label,
.bc-combatant-hp-label {
    font-weight: 600;
    color: #808080;
    margin-right: 10px;
}

.bc-pc-hp-divider,
.bc-combatant-hp-divider {
    margin: 0;
    padding: 0;
}

.bc-pc-hp-current,
.bc-pc-hp-max,
.bc-pc-hp-temp,
.bc-combatant-hp-current,
.bc-combatant-hp-max,
.bc-combatant-hp-temp {
    font-weight: 700;
    color: #000000;
}

.bc-pc-hp-temp,
.bc-combatant-hp-temp {
    margin-left: 10px;
}

.bc-pc-conditions,
.bc-combatant-conditions {
    font-size: 12px;
    font-weight: 500;
    color: #6e6e6e;
    float: right;
}

div.bc-pc-condition div.bc-combatant-condition {
    width: max-content;
    display: inline-block;
    font-size: 12px;
}

img.bc-pc-condition,
img.bc-combatant-condition {
    width: 16px;
    height: 16px;
    margin-top: 2.5px;
}

.bc-pc-ac,
.bc-combatant-ac {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.bc-pc-ac-label,
.bc-combatant-ac-label {
    width: max-content;
    color: #6e6e6e;
}

.bc-pc-ac-value,
.bc-combatant-ac-value {
    font-weight: 900;
    width: max-content;
}

.bc-pc-name,
.bc-combatant-name {
    width: max-content;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .25px;
    color: #000000;
    width: max-content;
    float: left;
}

.bc-pc-race,
.bc-combatant-race {
    line-height: 16px;
    width: max-content;
    grid-row: 2;
    grid-column: 3;
    font-size: 13px;
    font-weight: 500;
    color: #6e6e6e;
    float: left;
}

.bc-pc-main-stat-value,
.bc-combatant-main-stat-value {
    /* display: inline-block; */
    width: max-content;
    float: right;
    font-weight: 500;
    font-size: 14px;
    width: 2.5ch;
    text-align: right;
    margin-right: 1ch;
}

.bc-pc-main-stat-value-passive,
.bc-combatant-main-stat-value-passive {
    /* display: inline-block; */
    float: right;
    font-weight: 500;
    font-size: 13px;
    width: 3ch;
    margin: 0;
    text-align: right;
}

.bc-pc-main-stat-label,
.bc-combatant-main-stat-label {
    /* display: inline-block; */
    float: right;
    font-weight: 500;
    font-size: 13px;
    /* width: 3ch; */
    margin: 0;
    color: #6e6e6e;
}

.bc-pc-class,
.bc-combatant-class {
    line-height: 16px;
    width: max-content;
    grid-row: 3;
    grid-column: 3;
    font-size: 13px;
    font-weight: 500;
    color: #6e6e6e;
    float: left;
}

.bc-pc-passive,
.bc-combatant-passive {
    grid-column: 1 !important;
}

.bc-pc-stat,
.bc-pc-skill,
.bc-combatant-stat,
.bc-combatant-skill {
    grid-row: auto;
    grid-column: auto;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
    width: 100%;
    float: right;
}

.bc-pc-stat-label,
.bc-pc-skill-label,
.bc-combatant-stat-label,
.bc-combatant-skill-label {
    position: relative;
    float: right;
    color: #808080;
    vertical-align: baseline;
    margin-top: 1px;
    margin-right: 5px;
}

.bc-pc-language,
.bc-combatant-language {
    /* display: flex; */
    /* flex-wrap: wrap; */
    width: 100%;
    /* flex */
    /* grid-row: -1;
	grid-column: 1 / 4; */
    line-height: 16px;
    font-weight: 500;
    color: #000000;
    /* float: right; */
    /* width:1vw; */
    /* overflow: hidden; */
    /* overflow-x: scroll; */
}

.bc-pc-language-label,
.bc-combatant-language-label {
    display: inline;
    margin-left: 2px;
    color: #808080;
}

.bc-pc-language-value,
.bc-combatant-language-value {
    /* display: flex; */
    display: inline;
}

.bc-pc-language-unused,
.bc-combatant-language-unused {
    display: inline;

}

.bc-pc-stat-value-passive,
.bc-pc-skill-value-passive,
.bc-combatant-stat-value-passive,
.bc-combatant-skill-value-passive {
    float: right;
    width: 2ch;
    margin-top: 1px;
}

.bc-pc-stat-value-passive:first-child,
.bc-pc-skill-value-passive:first-child,
.bc-combatant-stat-value-passive:first-child,
.bc-combatant-skill-value-passive:first-child {
    width: calc(4ch + 14px) !important;
    margin-left: 5px;
}

.bc-pc-roll-button,
.bc-combatant-roll-button {
    width: 4ch;
    float: right;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    margin-left: 5px
}

.bc-pc-roll-popup,
.bc-combatant-roll-popup {
    width: 14px;
    float: right;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    border-left: 0px;
    background-image: url("icons/down.svg");
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-size: 12px;
}

.bc-combatant-roll-button,
.bc-pc-roll-popup,
.bc-combatant-roll-popup,
.bc-pc-stat-button,
.bc-combatant-stat-button,
.bc-pc-skill-button,
.bc-combatant-skill-button,
.bc-combatant-skill-button {
    background-color: rgb(235, 235, 196);
}

.bc-pc-roll-button:hover,
.bc-combatant-roll-button:hover,
.bc-pc-roll-popup:hover,
.bc-combatant-roll-popup:hover,
.bc-pc-stat-button:hover,
.bc-combatant-stat-button:hover,
.bc-pc-skill-button:hover,
.bc-combatant-skill-button:hover,
.bc-combatant-skill-button:hover {
    background-color: rgb(155, 155, 84);
    cursor: pointer;
}

.bc-pc-stat-button,
.bc-pc-skill-button,
.bc-combatant-stat-button,
.bc-combatant-skill-button {
    width: 5ch;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url("icons/down.svg");
    background-repeat: no-repeat;
    background-position-y: 4px;
    background-position-x: 3ch;
    background-size: 12px;
    text-align: right;
    padding-right: 2ch
}

.mon-stat-block{
    margin: 0px 2px;
    width: 600px;
}